@using POS.Entity.Entities;
@using POS.Util.Model;
@model LocationStorageModel

@{ string disabled = string.Empty;}
@if (Model != null)
{
    if (!string.IsNullOrEmpty(Model.LocationID))
    {
        disabled = "disabled";
        <div class="mrg_left_5per"><h3>Update @Model.LocationDesc Details</h3> </div>
    }
    else
    {
        <div class="mrg_left_5per"><h3>Add New Store/Location</h3></div>
    }
}
else
{
    <div class="mrg_left_5per"><h3>Add New Store/Location</h3></div>
}


@*Partial view for location details. Created by Vinod.*@
@using (Ajax.BeginForm("InsertOrUpdateStorage", "Storage", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "updatedMessage",
    LoadingElementId = "loader"
}))
{
    <div class="col-lg-12">
        <div class="col-lg-12 pad_2per">
            <div class="col-lg-12 pad_1perdiv">
                <div class="col-lg-12"><div class="col-lg-3"><h5>Location ID :</h5></div><div class="col-lg-6">@Html.TextBoxFor(e=>e.LocationID) </div>@Html.ValidationMessageFor(e=>e.LocationID,null,new { @class= "err_mgs" })</div>
                <div class="col-lg-12"><div class="col-lg-3"><h5>Storage ID :</h5></div><div class="col-lg-6">@Html.DropDownListFor(e=>e.StorageID,new List<SelectListItem>() { new SelectListItem { Text="S",Value="D" },new SelectListItem {Text="D",Value="D"}},"Select Storage ID",new { @class= "dropdown" })</div>@Html.ValidationMessageFor(e=>e.StorageID,null,new{@class= "err_mgs" })</div>
                <div class="col-lg-12"><div class="col-lg-3"><h5>Location Name :</h5></div><div class="col-lg-6">@Html.TextBoxFor(e=>e.LocationDesc)</div></div>
                       </div>
            <div class="col-lg-12">
                <div class="col-lg-3"><h5></h5></div>
                <div class="btn-group-lg" role="group" aria-label="Large button group">
                    <input type="submit" class="btn btn-default btn_inpt_sumbit" value="Save" />
                    <button type="button" class="btn btn-default btn_inpt_cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}
<div class="col-lg-12">
    <div class="col-lg-12">
        <div class="col-lg-3 stng_Hdr">LocationID</div>
        <div class="col-lg-3 stng_Hdr">Storage ID</div>
        <div class="col-lg-3 stng_Hdr">Storage Name</div>
    </div>
</div>
<div class="col-lg-12">
    <div class="ovrflow">
      
        @if (Model.Storages != null)
            {
                foreach (tbl_Storage storage in Model.Storages)
                {

                <div class="col-lg-12 stng_text">
                    <div class="col-lg-3 stng_text">@storage.LocationID</div>
                    <div class="col-lg-3 stng_text">@storage.StorageID</div>
                    <div class="col-lg-3 stng_text">@storage.StorageName</div>
                </div>
            }
            <small id="NoRecords" class="lead" style="display:none">
                No records found.
            </small>
        }
        else
        {
            <small class="lead">
                No records found.
            </small>
        }
    </div>
</div>
